<mat-chip-list *ngIf="error">
  <mat-chip color="primary">{{ error }}</mat-chip>
</mat-chip-list>
<div *ngIf="isLoading" style="text-align: center">
  <app-loading-spinner></app-loading-spinner>
</div>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
  <div class="form-container">
    <mat-card>
      <h3>Create account</h3>
      <mat-form-field class="controls">
        <input matInput type="text" name="email" placeholder="Email" [formControl]="signupForm.get('email')" />
      </mat-form-field>
      <div *ngIf="signupForm.get('email').hasError('invalid')">Error</div>
      <br>

      <mat-form-field class="controls">
        <input matInput type="password" name="password" placeholder="Password"
          [formControl]="signupForm.get('password')" />
      </mat-form-field>
      <div *ngIf="signupForm.get('password').hasError('invalid')">Error</div>
      <br>

      <mat-form-field class="controls">
        <input matInput type="text" name="firstName" placeholder="First Name"
          [formControl]="signupForm.get('firstName')" />
      </mat-form-field>
      <div *ngIf="signupForm.get('firstName').hasError('invalid')">Error</div>
      <mat-form-field class="controls">
        <input matInput type="text" name="lastName" placeholder="Last Name"
          [formControl]="signupForm.get('lastName')" />
      </mat-form-field>

      <div *ngIf="signupForm.get('lastName').hasError('invalid')">Error</div>
      <br>
      <mat-form-field class="controls">
        <input matInput type="text" name="street" placeholder="Street"
          [formControl]="signupForm.get('street')" />
      </mat-form-field>

      <div *ngIf="signupForm.get('street').hasError('invalid')">Error</div>
      <br>
      <mat-form-field class="controls">
        <input matInput type="text" name="city" placeholder="City"
          [formControl]="signupForm.get('city')" />
      </mat-form-field>

      <div *ngIf="signupForm.get('city').hasError('invalid')">Error</div>
      <br>
      <mat-form-field class="controls">
        <input matInput type="text" name="state" placeholder="State"
          [formControl]="signupForm.get('state')" />
      </mat-form-field>

      <div *ngIf="signupForm.get('state').hasError('invalid')">Error</div>
      <br>
      <mat-form-field class="controls">
        <input matInput type="text" name="zipcode" placeholder="Zipcode"
          [formControl]="signupForm.get('zipcode')" />
      </mat-form-field>

      <div *ngIf="signupForm.get('zipcode').hasError('invalid')">Error</div>
      <br>
      <mat-form-field class="controls">
        <input matInput type="text" name="phone" placeholder="phone"
          [formControl]="signupForm.get('phone')" />
      </mat-form-field>

      <div *ngIf="signupForm.get('phone').hasError('invalid')">Error</div>
      <br>

      <button mat-raised-button color="primary" type="submit" [disabled]="!signupForm.valid">
        Sign Up
      </button>
    </mat-card>
  </div>
</form>
