<footer class="text-muted">
    <div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special deals</h5>
          <p class="card-text">Wbal bal bals .</p>
          <a href="#" class="btn btn-success">view deal</a>
        </div>
        
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>...put anything kind of description </p>
      <p>any link <a href="../../">link to something</a> or read our </p>
    </div>
  </footer>