<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Farmers Market</title>
  </head>

  <body>

    <header>
      <div class="collapse bg-success" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About Farmers Market</h4>
              <p class="text-muted">we provide you with something ........</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Contact us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-success box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
           
            <a class="nav-link text-white" routerLink="/">
              <i class="fas fa-home mr-1"></i> Farmer 
            </a>
            <a class="nav-link text-white" routerLink="/"> Customer
            </a>
          </a>
         
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
           
            <span class="navbar-toggler-icon"> </span>
          </button>
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link text-white" href="#">profile</a>
            </li>
            <button mat-raised-button (click)="logout()" color="primary" type="button" >Logout</button>
           
          </ul>
        </div>
        
      </div>
      
    </header>

    <main role="main">

      

      <router-outlet></router-outlet>
      
      <div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special deals</h5>
          <p class="card-text">Wbal bal bals .</p>
          <a href="#" class="btn btn-success">view deal</a>
        </div>
        
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>...put anything kind of description </p>
        <p>any link <a href="../../">link to something</a> or read our </p>
      </div>
    </footer>
  </body>
</html>